<p> Here is a list of all the services, please check the one you like and set your appointment! </p>


<%= display_header %>
<% @services.each do |service| %><br>
    <%= link_to service.name, service_appointments_path(service)%>
<% end %><br>
