<div align="center">
<h3><p>Welcome <%=@user.name%>! </p>
<p><%=@user.email%></p>

<p> Here are your upcoming appointments</p>


<p><%= link_to "Create An Appointment Here!", new_appointment_path%></p>
</h3></div>
