
<div>
<br><br><br><br>
  <div style='width: 600px;margin:auto'>
    <img  style='width: 600px', background-color= #95c4bc>
  </div>
  <h1 align="center"> Welcome to XYZ Salon, we're glad you're here!</h1>
  <h2 align="center"><%= link_to "Log In Here!", signin_path %></h2>
</div> 