<h2>Here are your Appointments! </h2>


<strong> Thank you for setting up your Appointment!</strong>


<h3>It's at <%= @appointment.time %></h3>
<h3><%= @appointment.date %></h3>
<h3><%= @appointment.services.name%><h3>