<h1>Here are your Appointments! </h1>


<strong> Thank you for setting up your Appointment!</strong>


<h2>It's at <%= @appointment.time %></h2>
<h2><%= @appointment.date %></h2>
<h2><%= @appointment.services.name%><h2>